/* google font  */
body{
    /* font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif; */
}
/* name color  */
.difclr{
    color: orangered;
}
/* navigation part  */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
}
.webowner{
    color: black;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btndec{
    border-radius: 5px;
   background-color: rgba(255, 68, 0, 0.877);
   font-style: italic;
    font-size: 13px;
    font-weight: 700;
   padding: 12px 16px;
}
/* header part dec  */
.headerdec{
    background-color: #fff8f3;
}
/* mid part  */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
    justify-content: space-between; 
}
.bnnrp{
    color: #757575;
}
.bannercnt{
    width: 500px;
}
.banner .propic{
    width: 400px;
}
 .bannergrt{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0px;
 }
 .bannerttl{
    margin-top: 5px;
    margin-bottom: 4px;
 }

 /* starting main section  */
 .aboutttl{
    text-align: center;
    font-size: 30px;
    font-style: normal;
 }
 .aboutdes{
    text-align: center;
    font-size: 18px;
    color: #757575;
 }
 .about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 110px 0px;
 }
 main{
    max-width: 1140px;
    margin: 0px auto;
 }
 .abinfo-cont{
    display: flex;
    justify-content: space-around;
 }
 .aboutinfo{
    text-align: center;
 }

 /* what i do style  */
  .dodes{
   text-align: center;
   padding: 30px 150px;
   color: #757575;
  }
  .dottl{
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 600;
margin-bottom: 5px;
  }

  /* skills  */

  .skillscnt{
    display: flex;
    padding: 33px;
    gap: 24px;
  }
  .skilldiv{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(64, 79, 192, 0.195);
  }
  .skill-description{
    color: #757575;
  }

  /* resume style  */
  .rct{
    color: #474747;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
 
  }
  .rsectionttl{
     color:#181818;
text-align: center;
/* font-family: Open Sans;  */
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .resumecnt{
    display: flex;
    gap: 50px;
  }
   .edu-ttl{
    color:#474747;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
   }
   .edu-institu{
    color:#757575;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
   }
    .edu-descr{
        color: #757575;
font-family: Open Sans;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    }

    .btncvv{
        border-radius: 5px;
background: orangered;

color:#FFF;

font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;

width: 150px;
height: 58px;

border: 2px solid black;
border-radius: 4px;
    }
    .cvddld{
        text-align: center;
        margin-top: 15px;
    }

    /* footer style  */
  
    .lastpart{
        display: flex;
        background-color:#fff8f3 ;
        padding: 130px 200px;
        margin-top: 49px;
        gap: 44px; 
    }
    .fterttl{
        color: #181818;
 
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .fterdes{
        color: #474747;
font-family: Open Sans;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    }
    .fb{
        display: flex;
        width: 19px;
height: 19px;
 
    }
    .img{
        padding: 13px;
    }
    .ftclm{
        width: 50%;
         
    }
    
.sub{
    border-radius: 5px;
    background: orangered;

    color:#FFF;

font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;

width: 100px;
height: 38px;

border: 2px solid black;
border-radius: 4px;
}

.hwl{
    width: 461px;
height: 64px;
border-radius: 5px;
background:  #FFF;

}
.formlast input, textarea{
    border: 0;
    padding: 14px;
}


/* its over    */