/* google font  */
body{
    font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
}
/* name color  */
.difclr{
    color: orangered;
}
/* navigation part  */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
}
.webowner{
    color: black;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btndec{
    border-radius: 5px;
   background-color: rgba(255, 68, 0, 0.877);
   font-style: italic;
    font-size: 13px;
    font-weight: 700;
   padding: 12px 16px;
}
/* header part dec  */
.headerdec{
    background-color: #fff8f3;
}
/* mid part  */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
    justify-content: space-between; 
}
.bannercnt{
    width: 500px;
}
.banner .propic{
    width: 400px;
}
 .bannergrt{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0px;
 }
 .bannerttl{
    margin-top: 5px;
    margin-bottom: 4px;
 }

 /* starting main section  */
 .aboutttl{
    text-align: center;
    font-size: 30px;
    font-style: normal;
 }
 .aboutdes{
    text-align: center;
    font-size: 18px;
    color: #474747;
 }
 .about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 110px 0px;
 }
 